<div class="h-screen p-[25px]">
  <header class="relative w-full h-full bg-white rounded-3xl p-5 sm:p-10 overflow-hidden">
    <!-- Background -->
    <div class="absolute inset-0 flex">
      <!-- Solid color (2/5th of the width) -->
      <div class="w-full sm:w-2/3 lg:w-2/5 xl:w-2/5 bg-[#FD2B53]"></div>
      <!-- Background image (3/5th of the width) -->
      <div
        class="w-0/3 sm:w-1/3 lg:w-3/5 xl:w-3/5 bg-cover bg-center"
        style="background-image: url('https://img.freepik.com/premium-photo/lavish-indonesian-rijsttafel-spread_961875-395046.jpg?w=2000');"
      ></div>
    </div>
    <!-- Content -->
    <div class="relative max-w-7xl mx-auto h-full flex items-end pb-[100px] short:pb-0">
      <div class="absolute left-0 top-0">
        <img src="{{ 'nabati_big.png' | asset_url }}" alt="Nabati" width="150" height="40">
      </div>
      <div class="text-white">
        <div class="font-bannertype text-5xl md:text-5xl text-[#471313] uppercase">Authentic taste</div>
        <div class="font-bannertype text-6xl md:text-8xl text-[#FBE9CE] uppercase">
          Plantbased <br>
          Indonesian Food.
        </div>
        <div class="font-bannertype text-4xl md:text-5xl text-[#471313] uppercase">Rooted in flavor</div>
      </div>
    </div>
  </header>
</div>
