<div class="max-w-5xl mx-auto mt-10 px-5 lg:px-0">
  <div class="text-center text-peanut-brown font-bannertype text-6xl mb-3 uppercase">How does it work?</div>

  <div class="grid grid-cols-3 gap-8">
    <div class="bg-nabati-pink rounded-2xl p-6">
      <div class="text-bamboo-beige font-p22mackinac text-3xl mb-3">Order</div>
      <div class="font-rubik text-sm text-coconut-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </div>
    </div>
    <div class="bg-nabati-pink rounded-2xl p-6">
      <div class="text-bamboo-beige font-p22mackinac text-3xl mb-3">Shipping</div>
      <div class="font-rubik text-sm text-coconut-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </div>
    </div>
    <div class="bg-nabati-pink rounded-2xl p-6">
      <div class="text-bamboo-beige font-p22mackinac text-3xl mb-3">Enjoy</div>
      <div class="font-rubik text-sm text-coconut-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </div>
    </div>
  </div>
</div>
