<div class="max-w-7xl mx-auto mt-10">
  <div class="grid grid-cols-1 gap-5 mx-10 md:grid-cols-2">
    <div>
      <div class="flex items-baseline text-lg font-bold py-2">
        <span class="text-4xl text-[#471313]" style="font-family: 'BannerType2', sans-serif;">RENDANG</span>
        <div class="flex-grow mx-2 h-1 bg-[length:8px_4px] bg-dotted"></div>
        <span class="font-rubik text-[#471313]">€ 12,50</span>
      </div>

      <p class="mt-2 text-sm text-gray-600">
        Vegan Rendang is a flavorful vegan twist on an Indonesian classic, made with plant-based protein cooked in a
        rich, caramelized soy sauce...
      </p>
    </div>
    <div>
      <div class="flex items-baseline text-lg font-bold py-2">
        <span class="font-bannertype text-4xl text-[#471313] uppercase">‘BABI’ SMOOR</span>
        <div class="flex-grow mx-2 h-1 bg-[length:8px_4px] bg-dotted"></div>
        <span class="font-rubik text-[#471313]">€ 12,50</span>
      </div>

      <p class="mt-2 text-sm text-gray-600">
        Vegan Rendang is a flavorful vegan twist on an Indonesian classic, made with plant-based protein cooked in a
        rich, caramelized soy sauce...
      </p>
    </div>
    <div>
      <div class="flex items-baseline text-lg font-bold py-2">
        <span class="font-bannertype text-4xl text-[#471313]">RENDANG</span>
        <div class="flex-grow mx-2 h-1 bg-[length:8px_4px] bg-dotted"></div>
        <span class="font-rubik text-[#471313]">€ 12,50</span>
      </div>

      <p class="mt-2 text-sm text-gray-600">
        Vegan Rendang is a flavorful vegan twist on an Indonesian classic, made with plant-based protein cooked in a
        rich, caramelized soy sauce...
      </p>
      <p>
        <svg width="150" height="60" viewBox="0 0 150 60" xmlns="http://www.w3.org/2000/svg">
          <!-- Button Background -->
          <path d="M10 30 Q5 5 30 10 L120 10 Q145 5 140 30 Q145 55 120 50 L30 50 Q5 55 10 30 Z" fill="#FF2E4C"/>

          <!-- Button Text -->
          <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#FBE9CE" font-family="BannerType2, sans-serif" font-weight="bold" font-size="18">
            ORDER
          </text>
        </svg>
      </p>
    </div>
    <div>
      <div class="flex items-baseline text-lg font-bold py-2">
        <span class="font-bannertype text-4xl text-[#471313]">RENDANG</span>
        <div class="flex-grow mx-2 h-1 bg-[length:8px_4px] bg-dotted"></div>
        <span class="font-rubik text-[#471313]">€ 12,50</span>
      </div>

      <p class="mt-2 text-sm text-gray-600">
        Vegan Rendang is a flavorful vegan twist on an Indonesian classic, made with plant-based protein cooked in a
        rich, caramelized soy sauce...
      </p>
    </div>
  </div>
</div>
