{% section 'hero_coming_soon' %}

<div class="max-w-7xl mx-auto mt-10 px-5 xl:px-0">
  <img src="{{ 'nabati.png' | asset_url }}" alt="Nabati" width="150" height="40">

  <div class="mt-10 flex space-x-4 font-bannertype text-5xl md:text-5xl text-[#471313] uppercase">
    The webshop is opening soon!
  </div>

  <div class="mt-6 flex space-x-4">
    If you want to be the first to know when we do,<br>
    please enter your email below and we'll send you a reminder.
  </div>

  <div class="mt-6">
    <div id="mc_embed_shell">
      <div id="mc_embed_signup">
        <form
          action="https://nabati.us22.list-manage.com/subscribe/post?u=57abf3f1f8c06b96bccc3fd83&amp;id=6e4659acf5&amp;f_id=00d8c2e1f0"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_self"
          novalidate=""
        >
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <label for="mce-EMAIL">E-mail: <span class="asterisk">*</span></label>
              <br>
              <input
                type="email"
                name="EMAIL"
                id="mce-EMAIL"
                required=""
                value=""
                class="required p-2 my-2 email rounded border border-peanut-brown"
              >
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              /* real people should not fill this in and expect good things - do not remove this or risk form bot
              signups */
              <input type="text" name="b_57abf3f1f8c06b96bccc3fd83_6e4659acf5" tabindex="-1" value="">
            </div>
            <div class="optionalParent">
              <div class="clear foot">
                <input
                  type="submit"
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  class="bg-peanut-brown text-white text-lg font-thin py-2 px-5 sm:px-10 rounded-full hover:bg-nabati-pink hover:text-white font-bannertype uppercase cursor-pointer"
                  value="Keep me in the loop!"
                >
                <p style="margin: 0px auto;">
                  {% comment %}
                    <a href="http://eepurl.com/i8m5ig" title="Mailchimp - email marketing made easy and fun"
                      ><span style="display: inline-block; background-color: transparent; border-radius: 4px;"
                        ><img
                          class="refferal_badge"
                          src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                          alt="Intuit Mailchimp"
                          style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span
                    ></a>
                  {% endcomment %}
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}

    <div class="password">
      If you have an early access code, fill it in below:<br>
      <input type="password" name="password" class="text-slate-800">
    </div>

    <div class="submit">
      <input type="submit" value="Let me in">
    </div>
  {% endform %}
</div>

{% section 'footer' %}
